html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.rightheader h1{
    font-size: 3rem;
    color: #A51F10;
}
nav ul{
    list-style-type: none;
    border: 1px solid brown;
    border-left: none;
    border-right: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
nav a{
    font-size: 2rem;
    color: black;
    padding: 2px 15px;
}
nav a:hover{
    background: black;
    color: #89A611;
    font-weight: none;
    transition: 0.1s;
}
article img{
    float: left;
    border-radius: 15px;
}
article:after {
    content: "";
    display: table;
    clear: both;
}
article{
    padding: 20px
}
hr{
    color: #A51F10;
}
footer ul{
    list-style-type: none;
}